{% extends "bootstrap/base.html" %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Pathfinder RPG Character Generator
      </a>
    </div>
    <a type="reset" class="btn btn-default pull-right" href="form">Reset</a>
  </div>
</nav>
{% endblock navbar %}


{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock content %}
