{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Create a Character{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Pathfinder RPG Character Generator
      </a>
    </div>
    <button type="reset" class="btn btn-default pull-right" href="charsheet.html">Reset</button>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
      <div class="form-group">
        <form>
          {{ wtf.quick_form(form,
                            action="/submit",
                            method="POST",
                            extra_classes='None',
                            role="form",
                            form_type="basic",
                            horizontal_columns=('lg', 2, 10),
                            enctype=None,
                            button_map={'submit': 'submit'},
                            id="") }}
        </form>
      </div>
  </div>
  <div class="panel-footer"></div>
</div>
{% endblock content %}
