<!doctype html>
<title>Pathfinder Character Sheet Generator</title>
{% if created %}
  <h1>Character has been created</h1>
{% else %}

  <h1>Creating new character</h1>

  <form method="POST" action="/">
    {% for form in attrib_form %}
      <li> {{ form.label }} {{ form(size=20) }} </li>
    {% endfor %}
    <br></br>
    {% for form in ability_form %}
      <li> {{ form.label }} {{ form(size=20) }} </li>
    {% endfor %}
    <br></br>
    {% for form in skills_form %}
      <li> {{ form.label }} {{ form(size=20) }} </li>
    {% endfor %}

    <input type="submit" value="Go">
  </form>

{% endif %}
