{% extends "bootstrap/base.html" %}

{% block title %}Submitted{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Pathfinder RPG Character Generator
      </a>
    </div>
    <button type="reset" class="btn btn-default pull-right" href="charsheet.html">Reset</button>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
  <h1>Submitted</h1>
  <div class="row">
    <div class="col-xs-12 col-md-3 col-sm-4 col-sm-offset-4 col-md-offset-4 col-lg-3 col-lg-offset-4">
      <div class="login-message">
        <button type="form" class="btn btn-default">Click Here</button>
      </div>
    </div>
  </div>
{% endblock %}
