{% extends "bootstrap/base.html" %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Pathfinder RPG Character Generator</a>
    </div>
    <a type="reset" class="btn btn-primary pull-right navbar-btn" href="form">Start Over</a>
  </div>
</nav>
{% endblock navbar %}


{% block content %}
<div class="container-fluid">
  <div class="row col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}


    <div class="panel-body">
      {% block page_content %}
      {% endblock page_content %}
    </div>
    <div class="panel-footer">
      {% block page_footer %}
      {% endblock page_footer %}
      <h6 class="text-center">Copyright <i class="fa fa-copyright"></i> 2016 Troy Leak<p><small>All Rights Reserved</small></h6>
    </div>
  </div>
</div>
{% endblock content %}
