{% extends "bootstrap/base.html" %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Pathfinder RPG Character Generator</a>
    </div>
    <a type="reset" class="btn btn-primary pull-right navbar-btn" href="form">Start Over</a>
  </div>
</nav>
{% endblock navbar %}


{% block content %}
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}
  <div class="panel panel-primary col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="panel-body">
      {% block page_content %}
      {% endblock page_content %}
    </div>
    <div class="panel panel-footer">
      <div class="row">
        {% block page_footer %}
        {% endblock page_footer %}
      </div>
      <div class="row">
        <h6 class="text-center">Copyright <i class="fa fa-copyright"></i> 2016 Troy Leak<p><small>All Rights Reserved</small></h6>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
