{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Create a Character{% endblock %}

{% block page_content %}
<div class="row form-group">
  <form action="" method="POST" enctype="multipart/form-data" role="form">
    <ul class="list-group">
      {{ form.csrf_token }}
      {% for field in form if field.widget.input_type != 'hidden' %}
      <li class="list-group-item">
        {{ field.csrf_token }}
        {{ wtf.form_field(field, form_type="", button_map={'submit':'primary'}) }}
      </li>
      {% endfor %}
    </ul>
  </form>
</div>
{% endblock page_content %}
