{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Create a Character{% endblock %}

{% block page_content %}
<div class="row form-group">
  <form action="" method="POST" enctype="multipart/form-data" role="form">
    <ul class="list-group">
      {{ form.csrf_token }}
      {% for field in form if field.widget.input_type != 'hidden' %}
        {% if field.id not in ['weapon', 'item', 'armor'] %}
          <li class="list-group-item">
            {{ wtf.form_field(field) }}
          </li>
        {% endif %}
      {% endfor %}
      <li class="list-group-item active">
        {% for field in form.weapon %}
        <li class="list-group-item">
          {{ wtf.form_field(field) }}
        </li>
        {% endfor %}
      </li>
      <li class="list-group-item active">
        {% for field in form.armor %}
        <li class="list-group-item">
          {{ wtf.form_field(field) }}
        </li>
        {% endfor %}
      </li>
      <li class="list-group-item active">
        {% for field in form.item %}
        <li class="list-group-item">
          {{ wtf.form_field(field) }}
        </li>
        {% endfor %}
      </li>
    </ul>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock page_content %}
