{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Create a Character{% endblock %}

{% block page_content %}
<div class="panel panel-default">
  <div class="panel-body">
      <div class="form-group">
        <form action="/submit" method="POST" enctype="multipart/form-data" role="form">
          {{ form.csrf_token }}
          {% for field in form if field.widget.input_type != ('hidden', 'submit') %}
            {{ field.csrf_token }}
            {{ wtf.form_field(field, form_type="horizontal", button_map={'submit':'primary'}) }}
          {% endfor %}
        </form>
      </div>
  </div>
</div>
{% endblock page_content %}
