{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Submitted{% endblock %}

{% block page_content %}
<h2><p class="text-center">Your Character</p></h2>

<div class="row">
  <ul class="list-group text-capitalize">

    {% if char.ability_scores is not none %}
      <li class="list-group-item active"><h5>abilities:</h5></li>
      {% for i in char.modules['abilities'].stats %}
        <li class="list-group-item">{{ i }}
          <span class="badge">Mod: {{ char.modules['abilities'].stats[i]['mod'] }}</span>
          <span class="badge">Score: {{ char.modules['abilities'].stats[i]['score'] }}</span>
        </li>
      {% endfor %}
    <!-- end for stats -->
    {% endif %}
    <!-- end if stats -->

    {% if char.saving_throws is not none %}
      <li class="list-group-item active"><h5>saving throws:</h5></li>
      {% for i in char.modules['saving_throws'].saving_throws %}
        <li class="list-group-item">{{ i }}
          <span class="badge">Magic: {{ char.modules['saving_throws'].saving_throws[i][magic_mod] }}</span>
          <span class="badge">Misc: {{ char.modules['saving_throws'].saving_throws[i]['misc_mod'] }}</span>
          <span class="badge">Mod: {{ char.modules['saving_throws'].saving_throws[i]['mod'] }}</span>
          <span class="badge">Score: {{ char.modules['saving_throws'].saving_throws[i]['score'] }}</span>
        </li>
      {% endfor %}
    {% endif %}

    {% if char.attributes is not none %}
      <li class="list-group-item active"><h5>physical attributes:</h5></li>
      {% for i in char.modules['attributes'].attributes %}
        <li class="list-group-item">
          {{ i }}
          <span class="badge">
            {{ char.modules['attributes'].attributes[i] }}
          </span>
        </li>
      {% endfor %}

      <li class="list-group-item active"><h5>miscellaneous modifiers:</h5></li>
      {% for i in char.modules['attributes'].misc_modifiers|sort %}

        {% if 'languages' in i %}
        <li class="list-group-item">{{ i }}
          <!-- If there are multiple languages, this will display them all -->
          {% if char.modules['attributes'].misc_modifiers[i] == [] %}
            <span class="badge">Common</span>
          {% else %}
            {% for language in char.modules['attributes'].misc_modifiers[i] %}
              <span class="badge">{{ language }}</span>
            {% endfor %}
          {% endif %}
        </li>

        {% else %}
          <li class="list-group-item">
            {{ i }}
            <span class="badge">
              {{ char.modules['attributes'].misc_modifiers[i] }}
            </span>
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if char.race is not none %}
    <li class="list-group-item active">
      <h5>race:</h5>
      <li class="list-group-item">
        {{ char.modules['race'].race }}
      </li>
    </li>
      {% for i in char.modules['race'].traits|sort %}
        <li class="list-group-item text-capitalize">{{ i }}</li>
      {% endfor %}
    {% endif %}

    {% if char.char_class is not none %}
      <li class="list-group-item active"><h5>class:</h5></li>
        <li class="list-group-item">
          Base Attack Bonus:
          <span class="badge">{{ char.modules['char_class'].level_stats["base_attack_bonus"] }}</span>
        </li>
        <li class="list-group-item">
          fortitude:
          <span class="badge">{{ char.modules['char_class'].level_stats["fortitude"] }}</span>
        </li>
        <li class="list-group-item">
          reflex:
          <span class="badge">{{ char.modules['char_class'].level_stats["reflex"] }}</span>
        </li>
        <li class="list-group-item">
          will:
          <span class="badge">{{ char.modules['char_class'].level_stats["will"] }}</span>
        </li>
    {% endif %}

    {% if char.skills is not none %}
      <li class="list-group-item active"><h5>skills:</h5></li>
      {% for i in char.modules['skills'].skills|sort %}
        <li class="list-group-item">
          {{ i }}
          <span class="badge">
            {{ char.modules['skills'].skills[i] }}
          </span>
        </li>
      {% endfor %}
    {% endif %}

    {% if char.feats is not none %}
      <li class="list-group-item active"><h5>feats:</h5></li>
      {% for i in char.modules['feats'].feats_list|sort %}
        <li class="list-group-item">{{ i }}</li>
      {% endfor %}
    {% endif %}

    {% if char.spells is not none %}
    <li class="list-group-item active"><h5>spells:</h5></li>
      {% for i in char.modules['spells'].spells|sort %}
        <li class="list-group-item">{{ i }}</li>
      {% endfor %}
    {% endif %}

    {% if char.gear is not none %}
      <li class="list-group-item active"><h5>Weapons:</h5></li>
      {% for i in char.modules['gear'].weapons|sort %}
        <li class="list-group-item">{{ i }}</li>
      {% endfor %}
        <li class="list-group-item active"><h5>Armor:</h5></li>
      {% for i in char.modules['gear'].armor|sort %}
        <li class="list-group-item">{{ i }}</li>
      {% endfor %}
        <li class="list-group-item active"><h5>Items:</h5></li>
      {% for i in char.modules['gear'].items|sort %}
        <li class="list-group-item">{{ i }}</li>
      {% endfor %}
    {% endif %}

  </ul>
</div>
<div class="panel-bottom">
  <a class="btn btn-primary" href="/form">Start Over</a>
</div>

{% endblock %}
