{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Submitted{% endblock %}

{% block page_content %}
<div class="panel panel-default">
  <div class="panel-body">
    <h2><p class="text-center">Your Character</p></h2>
    <ul class="list-group container-fluid">
      {% for i in char.__dict__.keys() %}
      <li class="list-group-item disabled text-capitalize"><h3>{{ i }}</h3></li>
        <li class="list-group-item text-capitalize">{{ i }}:<span class="badge">{{ char[i] }}</span></li>
      {% endfor %}
    </ul>
  </div>
  <div class="panel-bottom">
    <a class="btn btn-primary" href="/form">Start Over</a>
  </div>
</div>

{% endblock %}
